{% load static %}

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-12">
      <button
        class="btn btn-primary"
        title="Editera betygelse"
        data-toggle="modal"
        data-target="#edit-d-modal"
      >Editera</button>
      {% include "modals/decoration_edit.html" with id="edit-d-modal" title="Editera betygelse" form=edit_d_form decoration=decoration only %}

      <button
        class="btn btn-danger"
        title="Radera betygelse"
        hx-delete="{% url 'api:decoration-detail' decoration.id %}"
        hx-swap="none"
        hx-confirm="Vill du radera denna betygelse och alla dess betygelseinnehav?"
        hx-on::after-request="if (event.detail.successful) window.location.href = '{% url 'admin:empty' 'decorations' %}'"
      >Radera</button>

      <a class="btn btn-secondary" href="{% url 'katalogen:decoration' decoration.id %}">Katalogen</a>
      <a class="btn btn-secondary" href="{% url 'api:decoration-detail' decoration.id %}">API</a>
    </div>
  </div>
  <h1 class="page-header" title="Skapad: {{ decoration.created }}&#013;Ändrad: {{ decoration.modified }}">
    {{ decoration.name }}
  </h1>
</div>

<div class="container-fluid">
  <h4>Kommentar</h4>
  {% if decoration.comment %}
    {{ decoration.comment|linebreaks }}
  {% else %}
    <p><i>Ingen kommentar hittades</i></p>
  {% endif %}

  <h4 class="list-inline-item">Innehavare av betygelsen</h4>
  <i
    class="list-inline-item fas fa-plus text-success icon-20"
    role="button"
    title="Lägg till betygelseinnehav"
    data-toggle="modal"
    data-target="#add-do-modal"
  ></i>
  {% include "modals/decorationownership_add.html" with id="add-do-modal" title="Lägg till betygelseinnehav ("|add:decoration.name|add:")" form=add_do_form only %}

  <table class="table table-sm table-striped table-borderless">
    <thead class="no-border">
      <tr>
        <th></th>
        <th>Medlem</th>
        <th>Utdelat</th>
      </tr>
    </thead>
    <tbody>
      {% for ownership in decoration_ownerships %}
        <tr>
          <td>
            <i
              class="far fa-edit text-info"
              role="button"
              title="Editera betygelseinnehav"
              onclick="populateCommonModal(this, '{% url 'admin:decoration_ownership_form' ownership.id %}')"
            ></i>
            <i
              class="fas fa-times text-danger"
              role="button"
              title="Radera betygelseinnehav"
              hx-delete="{% url 'api:decorationownership-detail' ownership.id %}"
              hx-confirm="Vill du radera detta betygelseinnehav?"
              hx-on::after-request="if (event.detail.successful) this.closest('tr').remove()"
            ></i>
          </td>
          <td><a href="{% url 'admin:member' ownership.member.id %}">{{ ownership.member.get_full_name_HTML }}</a></td>
          <td>{{ ownership.acquired }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{% static 'js/decoration.js' %}"></script>
