<form
  autocomplete="off"
  {% if form.instance.pk %}
    hx-put="{% url 'api:group-detail' form.instance.pk %}"
  {% else %}
    hx-post="{% url 'api:group-list' %}"
  {% endif %}
  hx-swap="none"
  hx-on::after-request="if (event.detail.successful) {
    const data = JSON.parse(event.detail.xhr.responseText);
    const url = `/admin/grouptypes/${data.grouptype.id}/${data.id}/`;
    window.location.href = url;
  }"
>
  {% if group %}
  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.grouptype.id_for_label }}">Grupp</label>
    </div>
    <div class="col-9">
      {{ form.grouptype }}
    </div>
  </div>
  {% else %}
  {{ form.grouptype.as_hidden }}
  {% endif %}

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.begin_date.id_for_label }}">Från</label>
    </div>
    <div class="col-9">
      {{ form.begin_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.end_date.id_for_label }}">Till</label>
    </div>
    <div class="col-9">
      {{ form.end_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
</form>
