<form
  autocomplete="off"
  {% if form.instance.pk %}
    hx-put="{% url 'api:membertype-detail' form.instance.pk %}"
  {% else %}
    hx-post="{% url 'api:membertype-list' %}"
  {% endif %}
  hx-swap="none"
  hx-on::after-request="if (event.detail.successful) window.location.reload()"
>
  {{ form.member.as_hidden }}

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.type.id_for_label }}">Medlemstyp</label>
    </div>
    <div class="col-9">{{ form.type }}</div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.begin_date.id_for_label }}">Från</label>
    </div>
    <div class="col-9">
      {{ form.begin_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-3">
      <label for="{{ form.end_date.id_for_label }}">Till</label>
    </div>
    <div class="col-9">
      {{ form.end_date }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col">
      <button type="submit" class="btn btn-success float-right">Spara</button>
    </div>
  </div>
</form>
